<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RM | Dodaj przepis</title>
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/add-recipe.css" th:href="@{/styles/add-recipe.css}">
</head>
<body>
<div class="container-fluid page">
    <div class="row h-100">
        <div class="d-none d-sm-block col-md-1 h-100">
        </div>
        <div class="col-md-10 main">
            <div class="header">
                <h1>Dodaj przepis</h1>
            </div>
            <div>
                <form class="add-recipe" method="post" action="#" th:action="@{/add-recipe}">
                    <label for="name">Nazwa: </label>
                    <input id="name" placeholder="Nazwa przepisu" th:field="${recipeAddDto.name}">
                    <label for="manual">Treść przepisu: </label>
                    <input id="manual" placeholder="Tu wpisz treść przepisu" th:field="${recipeAddDto.manual}"/>
                    <button id="add-ingredient" class="enter w-25">Dodaj składnik</button>
                    <button id="delete-ingredient" class="enter w-25">Usuń składnik</button>
                    <div class="row ingredients-list">
                        <div class="col-md-3">
                            <div class="card">
                                <th:block th:each="ingredient, itemStat: ${ilwd.ingredientDtoList}">
                                    <div class="inputBox">
                                        <input autocomplete="off" id="ingredientName" name="ingredientName" type="text"
                                               th:id="'ingredientName' + ${itemStat.index}"
                                               th:field="${ilwd.ingredientDtoList[__${itemStat.index}__].name}">
                                        <span class="user">Nazwa składnika</span>
                                    </div>
                                    <!--                                    <label for="ingredientName"-->
                                    <!--                                           th:for="'ingredientName' + ${itemStat.index}">Nazwa składnika:</label>-->
                                    <!--                                    <input id="ingredientName"-->
                                    <!--                                           placeholder="Nazwa składnika"-->
                                    <!--                                           th:id="'ingredientName' + ${itemStat.index}"-->
                                    <!--                                           th:field="${ilwd.ingredientDtoList[__${itemStat.index}__].name}"/>-->
                                    <label for="ingredientCount"
                                           th:for="'ingredientCount' + ${itemStat.index}">Ilość:</label>
                                    <input id="ingredientCount"
                                           th:id="'ingredientCount' + ${itemStat.index}"
                                           th:field="${ilwd.ingredientDtoList[__${itemStat.index}__].count}"/>
                                    <label for="ingredientUnit"
                                           th:for="'ingredientUnit' + ${itemStat.index}">Jednostka:</label>
                                    <select id="ingredientUnit"
                                            th:id="'ingredientUnit' + ${itemStat.index}"
                                            th:field="${ilwd.ingredientDtoList[__${itemStat.index}__].unit}">
                                        <option value="szt">szt</option>
                                        <option value="kg">kg</option>
                                        <option value="g">g</option>
                                        <option value="l">l</option>
                                        <option value="ml">ml</option>
                                    </select>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <button id="submit" type="submit" class="enter w-100">Dodaj przepis</button>
                </form>
            </div>
        </div>
        <div class="d-none d-sm-block col-md-1 h-100">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>