<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>RM | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../static/styles/home.css" rel="stylesheet" th:href="@{/styles/home.css}">
</head>
<body>
<div class="container-fluid page" sec:authorize="!isAuthenticated()">
    <div class="row h-100">
        <div class="col-md-1 h-100">
        </div>
        <div class="col-md-10 main">
            <div class="header">
                <h1>Recipe Manager</h1>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut sapien quam. Pellentesque habitant
                    morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut rhoncus dolor id purus
                    tincidunt placerat. Praesent consequat, eros sed facilisis fermentum, erat elit vehicula elit,
                    vulputate eleifend orci est quis sapien. Suspendisse vulputate euismod auctor. Sed porta interdum
                    augue vitae ornare. Praesent nec rhoncus odio. Fusce venenatis tincidunt lectus vitae ultricies.</p>
                <p>Sed non accumsan nulla, vel mollis eros. Aliquam at pulvinar arcu. Nunc non tortor a erat luctus
                    fringilla non in purus. Praesent mauris neque, feugiat quis congue vitae, vestibulum vitae sapien.
                    Vivamus efficitur vulputate feugiat. Quisque blandit, turpis eget condimentum mattis, eros nibh
                    sagittis risus, sed volutpat nisi ante eget nisi. Praesent semper lacus eu erat suscipit vehicula.
                    Suspendisse nec interdum odio. Cras posuere varius ullamcorper.</p>
                <p>Nulla facilisi. In hac habitasse platea dictumst. Pellentesque vitae sem auctor risus dapibus
                    bibendum. Etiam vehicula dolor nec orci varius, at euismod ligula lacinia. Sed vitae libero eu lacus
                    lobortis eleifend et nec lacus. Nunc congue consequat est eu ultricies. Morbi sed dolor sem. Fusce
                    porttitor placerat justo, sed consequat magna. Nulla mollis mollis gravida. Ut rutrum sodales
                    tortor, quis laoreet enim sagittis at. Cras eu maximus nulla.</p>
                <p>Mauris dapibus augue vitae sem consectetur, id vulputate tellus vulputate. Cras porta cursus ante at
                    porta. Nam molestie dui non nunc feugiat congue. Donec odio magna, porta sit amet libero sit amet,
                    tincidunt sagittis ante. Vestibulum molestie turpis a quam tempus volutpat. Pellentesque id
                    tristique quam. Maecenas in leo nulla. Phasellus tristique mi vitae neque interdum, at ultrices ante
                    venenatis. Nulla vestibulum, ante vel posuere hendrerit, felis tellus pellentesque nibh, vitae
                    tempus turpis nunc at lacus. Maecenas scelerisque sed nisl non tempus. Nunc imperdiet, nulla in
                    dapibus tempor, tellus velit euismod purus, eget porttitor ex justo eu ex. Sed sagittis, dui at
                    euismod semper, justo mauris lacinia massa, quis sollicitudin nibh magna at lacus. Sed auctor lectus
                    erat, non ornare quam congue sed. Morbi eu tristique ipsum.</p>
                <p>Duis vehicula est nec maximus ultrices. Aenean faucibus non mauris nec dapibus. Integer a eros vitae
                    odio feugiat volutpat. Sed consectetur aliquet leo, vel facilisis libero malesuada a. Nullam
                    pellentesque pretium varius. Nam bibendum ullamcorper auctor. Vestibulum sodales fringilla sapien.
                    Cras a tincidunt quam, a porttitor est. Curabitur id erat ac nunc blandit dignissim. Cras dui erat,
                    congue eget maximus ac, bibendum sed lacus. Cras et orci in tortor euismod finibus nec et massa.
                    Suspendisse laoreet justo non dolor facilisis aliquam. In hac habitasse platea dictumst.</p>
                <p>Aenean maximus, sem eget bibendum tempus, ligula lorem tristique tortor, in rutrum diam ex gravida
                    velit. Mauris turpis quam, viverra at pellentesque ut, interdum non magna. Nunc nec congue arcu.
                    Maecenas non ante ultricies, condimentum enim ac, pulvinar mi. Etiam et massa ut ligula placerat
                    ornare. Vestibulum efficitur odio pulvinar, interdum urna sed, hendrerit est. Sed scelerisque,
                    mauris at facilisis aliquam, dui tortor scelerisque sapien, at commodo nunc mi nec massa.
                    Suspendisse interdum porta justo, vel dignissim tortor.</p>
                <p>Ut aliquam, magna et finibus vehicula, tellus nunc dictum sapien, ac pellentesque dui nibh nec risus.
                    Donec eu tristique dui. Mauris pharetra mi ut nulla cursus malesuada. Aliquam nec velit posuere,
                    facilisis leo vel, varius felis. Nulla sit amet hendrerit lorem. Vestibulum at ex ullamcorper,
                    ornare sem molestie, porta nisi. Sed sit amet orci augue. Nam pretium odio vitae erat pharetra, ac
                    faucibus est rutrum.</p>
                <p>Donec ipsum purus, sollicitudin id congue a, posuere quis magna. Donec molestie hendrerit mi in
                    posuere. Quisque non eros sed arcu auctor aliquet vel in mauris. Sed nisi tortor, pretium ut magna
                    eu, feugiat facilisis magna. Ut faucibus vulputate nisi, at fermentum libero porttitor sit amet.
                    Maecenas faucibus massa eget ullamcorper congue. Suspendisse potenti. Praesent a odio et leo congue
                    placerat. Integer non imperdiet orci. Praesent elementum suscipit lorem ac suscipit. Vivamus lectus
                    quam, bibendum a est at, blandit convallis est. Praesent ut turpis pretium, pharetra ex non,
                    tincidunt metus. Phasellus rutrum, diam sed finibus volutpat, felis lorem sollicitudin ex, et
                    eleifend neque purus a odio. Sed id arcu neque. Proin luctus ligula ut erat hendrerit, at tincidunt
                    nisi ornare. Donec nulla mi, convallis quis interdum sed, viverra nec velit.</p>
                <p>Vestibulum bibendum urna eu libero dapibus, quis suscipit purus facilisis. Proin eget tellus eros.
                    Fusce dignissim massa lectus, in rutrum nisl sollicitudin eu. Suspendisse convallis ornare tellus
                    nec dignissim. Ut a magna est. Fusce in sodales nunc, eget scelerisque purus. Duis sodales sagittis
                    aliquet. Suspendisse in velit pulvinar, imperdiet ex at, faucibus leo. Curabitur vulputate, sapien
                    et malesuada luctus, nisl justo porttitor felis, a lacinia ligula nisi vitae diam. Fusce luctus eget
                    mauris cursus hendrerit. Donec ac sem non metus scelerisque hendrerit vel a lacus. Integer ornare
                    ligula eget dictum scelerisque.</p>
                <p>Cras ut nunc imperdiet, ultricies lectus eu, accumsan arcu. Aliquam ligula sem, porta eu purus id,
                    eleifend suscipit nibh. Suspendisse condimentum dui eu elit pharetra, in pellentesque sem bibendum.
                    Etiam iaculis tempor vulputate. Morbi in tincidunt nunc, nec tincidunt nisi. Phasellus molestie
                    lacus at enim dignissim, in imperdiet lorem auctor. Proin accumsan ex non ante dictum cursus eu at
                    metus. Donec quis enim eget est rutrum feugiat. Nunc eu convallis mi. Quisque sed sagittis nisi.</p>
            </div>
        </div>
        <div class="d-none d-sm-block col-md-1 h-100">
            <div class="login">
                <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">
                    <button class="enter">Zaloguj</button>
                </a>
                <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">
                    <button class="enter">Wyloguj</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" sec:authorize="isAuthenticated()">
    <div class="row h-100">
        <div class="col-md-1 h-100">
        </div>
        <div class="col-md-10 main">
            <div class="header">
                <h1>Recipe Manager</h1>
            </div>
            <div class="new-recipe">
                <h3>Przepisy</h3>
                <a href="#" th:href="@{/add-recipe}">
                    <button class="enter w-25">Dodaj nowy przepis!</button>
                </a>
            </div>
            <div class="row">
                <div th:each="recipe: ${recipes}" class="col-md-3 recipe-column">
                    <div class="recipe">
                        <div class="recipe-inner h-100">
                            <h3 th:text="${recipe.name}">Nazwa przepisu</h3>
                            <ul>
                                <li th:each="ingredient: ${recipe.ingredients}" th:text="${ingredient.name}">Składnik
                                </li>
                            </ul>
                            <p th:text="${recipe.manual}">Opis przepisu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-sm-block col-md-1 h-100">
            <div class="login">
                <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">
                    <button class="enter">Zaloguj</button>
                </a>
                <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">
                    <button class="enter">Wyloguj</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>