<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Zaloguj się</title>
</head>
<body>
<main>
    <h2>Zaloguj się</h2>
    <form action="" th:action="@{/login}" method="post">
        <p th:if="${param.error}"
           th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
           class="mc-form-message"
        >
            Błąd logowania.
        </p>
        <p th:if="${param.logout}">
            Zostałeś wylogowany, możesz zalogować się ponownie.
        </p>
        <label for="username">Adres email</label>
        <input id="username" name="username" placeholder="nazwa użytkownika">
        <label for="password">Hasło</label>
        <input id="password" name="password" placeholder="hasło" type="password">
        <button type="submit">Zaloguj się</button>
        <p>Nie masz jeszcze konta? <a href="#" th:href="@{/register}">Zarejestruj się</a></p>
    </form>
</main>
</body>
</html>
