<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>RM | Odzyskaj</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../static/styles/log-reg-rec.css" rel="stylesheet" th:href="@{/styles/log-reg-rec.css}">
</head>
<body id="body-fixed">
<div class="container-fluid h-100">
    <div class="row h-100">
        <div id="left-column" class="col-md-5 col-sm-12 h-100">
            <div class="header">
                <h1><a href="#" th:href="@{/}">RM Home</a></h1>
            </div>
            <div id="login-box">
                <div class="container">
                    <form action="#" th:action="@{/recovery}" method="post" th:object="${prd}">
                        <input hidden="hidden" name="token" value="" th:field="*{token}" th:value="*{token}">
                        <input hidden="hidden" name="email" value="" th:field="*{email}" th:value="*{email}">
                        <div class="card">
                            <a class="login">Odzyskanie hasła</a>
                            <div class="inputBox">
                                <input autocomplete="off" id="password" name="username" type="text" required="required" th:field="*{password}">
                                <span class="user">Nowe hasło</span>
                            </div>
                            <div class="inputBox">
                                <input autocomplete="off" id="repeat-password" name="username" type="text" required="required">
                                <span class="user">Powtórz nowe hasło</span>
                            </div>
                            <button class="enter">Zresetuj hasło</button>
                        </div>
                    </form>
                    <p th:if="${param.expired}">
                        Token jest już przedawniony.
                    </p>
                    <p th:if="${param.used}">
                        Token jest niepoprawny.
                    </p>
                </div>
            </div>
        </div>
        <div id="right-column" class="d-none d-sm-block col-md-7 h-100">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>