<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RM | Zarejestruj się</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../static/styles/log-reg.css" rel="stylesheet" th:href="@{/styles/log-reg.css}">
</head>
<body>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div id="left-column" class="col-md-5 col-sm-12 h-100">
            <div id="login-box">
                <div class="container">
                    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
                        <div class="card">
                            <a class="login">Zarejestruj się</a>
                            <div class="inputBox">
                                <input  autocomplete="off" id="email" type="email" required="required" th:field="*{email}">
                                <span class="user">Email</span>
                            </div>
                            <div class="inputBox">
                                <input autocomplete="off" id="password" required="required" type="password" th:field="*{password}">
                                <span>Hasło</span>
                            </div>
                            <div class="inputBox">
                                <input autocomplete="off" id="repeat_password" required="required" type="password">
                                <span>Powtórz hasło</span>
                            </div>
                            <button class="enter" type="submit">Zarejestruj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="right-column" class="d-none d-sm-block col-md-7 h-100">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>