<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Zarejestruj się | Recipes Manager</title>
</head>
<body>
<main>
    <h2>Zarejestruj się</h2>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <label for="email">Adres email</label>
        <input id="email" type="email" placeholder="nazwa użytkownika" th:field="*{email}">
        <label for="password">Hasło</label>
        <input id="password" placeholder="hasło" type="password" th:field="*{password}">
<!--        JS verify -->
        <label for="repeat_password">Powtórz hasło</label>
        <input id="repeat_password" placeholder="powtórz hasło" type="password">
        <button type="submit">Zarejestruj się</button>
    </form>
</main>
</body>
</html>